{% extends "master.html" %}
{% block title %}Results{% endblock %}

{% block message %}

{% endblock %}

{% block content %}

<h3 class="text-center">{{breed}}</h3>
<p class="text-center"><i>{{human_dog}}
                        <br>{{result_string}}</i></p>
    <div class="row h-200 justify-content-center align-items-center">
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <img src="static/cache.jpeg" class="img-fluid img-thumbnail" alt="your_image" />
        </div>
    
        <div class="col-md-3">
            <img src={{breed_path}} class="img-fluid img-thumbnail" alt="dog_breed_sample" />
        </div>
        <div class="col-md-3"></div>
    </div>
</div>    
{% endblock %}
