<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Dog Classifier</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Dog Breed Classifier</a>
        </div>

        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="https://www.udacity.com/">Made with Udacity</a></li>
                <li><a href="https://github.com/carini599">GitHub</a></li>
                <li><a href="https://www.linkedin.com/in/carina-breu-3aa504268/">LinkedIn</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="jumbotron">
    <div class="container">
        <h1 class="text-center">Dog Breed Classifier</h1>
        <h2 class="text-center">by Carina Breu</h2>
        <p class="text-center">Classify your Dog's Breed or find your Paw Twin</p>
        <hr />
        <div>  
            <p class="text-center">To classify, please upload a photo of a dog or human in jpg format:</p>
        </div>
        <div class="row">
            <div class="col-lg-12 form-group-lg">
                <form action="/go" method="post" enctype="multipart/form-data">
                    <p>
                        <div class="col text-center">
                            <input type="file" class="form-control form-control-lg" id="file" name="file">
                            <br>
                            <input type=submit class="btn btn-lg btn-success" value=Upload></p>
                        </div>	
                </form>
            </div>
        </div>

    </div>
</div>


<div class="container">
    {% block content %}
        <div class="page-header">
            <h1 class="text-center">Examples</h1>
        </div>

        <div class="row">
            <h2 class="text-center">Dogs</h2>
            <h3 class="text-center">Norfolk Terrier</h3>
            <p class="text-center"><i>The image shows a dog. 
                <br> It resembles most to the breed Norfolk Terrier.</i></p>
                <div class="col-md-3"></div>
                <div class="col-md-3">
                    <img src="/static/Molly_Norfolk_Terrier.jpeg" class="img-fluid img-thumbnail" alt="your_image" />
                </div>
                <div class="col-md-3">
                    <img src="/static/Norfolk_terrier.jpg" class="img-fluid img-thumbnail" alt="dog_breed_sample" />
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    
    <br>
    <br>

        <div class="row">
            <h2 class="text-center">Humans</h2>
            <h3 class="text-center">Afghan Hound</h3>
            <p class="text-center"><i>The image shows a human.
                <br>It resembles most to the breed Afghan Hound.</i></p>
            <div class="col-md-3"></div>
                <div class="col-md-3">
                    <img src="/static/carina.jpg" class="img-fluid img-thumbnail" alt="your_image" />
                </div>
            
            <div class="col-md-3">
                <img src="/static/Afghan_hound.jpg" class="img-fluid img-thumbnail" alt="dog_breed_sample" />
            </div>
            <div class="col-md-3"></div>
        </div>
        <p></p>
    {% endblock %}


</div>


</body>
</html>
